@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .animated-button {
    --primary: #275EFE;
    --primary-dark: #2055EE;
    --primary-darkest: #133FC0;
    --text-opacity: 1;
    --success-x: 12px;
    --success-stroke: 14px;
    --success-opacity: 0;
    --border-radius: 7px;
    --overflow: hidden;
    --rotate: 0deg;
    --plane-x: 0px;
    --plane-y: 0px;
    --plane-opacity: 1;
    --left-wing-background: var(--primary);
    --left-wing-first-x: 0%;
    --left-wing-first-y: 0%;
    --left-wing-second-x: 50%;
    --left-wing-second-y: 0%;
    --left-wing-third-x: 0%;
    --left-wing-third-y: 100%;
    --left-body-background: var(--primary);
    --left-body-first-x: 50%;
    --left-body-first-y: 0%;
    --left-body-second-x: 50%;
    --left-body-second-y: 100%;
    --left-body-third-x: 0%;
    --left-body-third-y: 100%;
    --right-wing-background: var(--primary);
    --right-wing-first-x: 50%;
    --right-wing-first-y: 0%;
    --right-wing-second-x: 100%;
    --right-wing-second-y: 0%;
    --right-wing-third-x: 100%;
    --right-wing-third-y: 100%;
    --right-body-background: var(--primary);
    --right-body-first-x: 50%;
    --right-body-first-y: 0%;
    --right-body-second-x: 50%;
    --right-body-second-y: 100%;
    --right-body-third-x: 100%;
    --right-body-third-y: 100%;
  }

  .animated-button .default {
    opacity: var(--text-opacity, 1);
  }

  .animated-button .success {
    opacity: var(--success-opacity, 0);
    transform: translateX(var(--success-x, 12px));
  }

  .animated-button .success svg {
    width: 12px;
    height: 10px;
    stroke-width: 2;
    stroke-dasharray: var(--success-stroke, 14px);
    stroke-dashoffset: var(--success-stroke, 14px);
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }

  .animated-button .trails {
    position: absolute;
    left: 0;
    top: 0;
    width: 33px;
    height: 64px;
    fill: none;
    stroke: var(--primary);
    stroke-width: 48;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
    opacity: var(--trails-opacity, 0);
    transform: translateX(var(--trails-x, 0)) rotateY(var(--trails-rotate-y, 0)) rotateX(var(--trails-rotate-x, 0)) rotate(var(--trails-rotate, 0));
    transition: transform 0.25s;
  }

  .animated-button .plane {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translate(var(--plane-x, 0), var(--plane-y, 0)) rotate(var(--rotate, 0)) scale(var(--plane-scale, 1));
    opacity: var(--plane-opacity, 1);
  }

  .animated-button .plane .left,
  .animated-button .plane .right {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: var(--plane-opacity, 1);
    transform: translate(var(--plane-x, 0), var(--plane-y, 0)) rotate(var(--rotate, 0)) scale(var(--plane-scale, 1));
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .animated-button .plane .left {
    background: var(--left-wing-background);
    clip-path: polygon(var(--left-wing-first-x) var(--left-wing-first-y), var(--left-wing-second-x) var(--left-wing-second-y), var(--left-wing-third-x) var(--left-wing-third-y));
  }

  .animated-button .plane .right {
    background: var(--right-wing-background);
    clip-path: polygon(var(--right-wing-first-x) var(--right-wing-first-y), var(--right-wing-second-x) var(--right-wing-second-y), var(--right-wing-third-x) var(--right-wing-third-y));
  }
}
